@import url('https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap');

body {
  background-color: #fffbf7;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.navbar {
  background-color: white;
  line-height: 45px;
}

.navbar-brand {
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
  width: 15%;
}

.navbar-brand img {
  display: inline;
  height: 35px;
  margin: 0 auto;
  vertical-align: middle;
}

.actions {
  display: inline-flex;
  height: 100%;
  margin: auto;
  width: 65%;
}

.actions-ul {
  display: inline-block;
  margin: 0 auto;
}

.ul-item {
  display: inline;
  font-size: 1rem;
  list-style: none;
  margin: 0 4px;
}

.ul-item a {
  color: #025157;
  text-decoration: none;
}

.ul-item a:hover {
  color: black;
  font-weight: 600;
}

.buttons {
  display: inline-flex;
  margin: 0;
  margin-right: 0;
  width: 19%;
}

.buttons-inline {
  display: inline-block;
  margin: auto;
  margin-right: 20px;
}

.buttons-inline > * {
  font-size: 14px;
  height: 55px;
  margin: 0 3px;
}

.signin-button {
  background-color: transparent;
  border: none;
  color: #67b54b;
  font-weight: 500;
}

.freetrial-button {
  background-color: #67b54b;
  border: none;
  border-radius: 4px;
  color: white;
  width: 120px;
}

.content {
  bottom: 0;
  left: 0;
  margin-top: 77px;
  right: 0;
  top: 0;
}

.promo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.promo form {
  margin: 50px auto;
}

.features {
  background-color: #025157;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  padding: 7% 10%;
}

.feature-art {
  align-items: center;
  background-color: white;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  margin: 15px;
  overflow: hidden;
  padding: 80px 40px;
}

.feature-content {
  padding-right: 20px;
}

.feature-content img {
  width: 50px;
}

.feature-content h2 {
  font-weight: 400;
}

.feature-content h4 {
  color: #67b54b;
}

.feature-picture {
  flex: 1;
  height: 100%;
  position: relative;
  right: -80px;
  width: 70%;
}

.feature-picture img {
  height: 100%;
}

.success-stories {
  align-items: center;
  background-color: #a1d683;
  display: flex;
  justify-content: space-around;
  padding: 5% 15%;
}

.overview {
  display: block;
  flex: 2;
  margin-right: 100px;
}

.overview h2 {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 51px;
  line-height: 61px;
}

.overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.overview button {
  background-color: #025157;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  margin-left: 0;
  padding: 12px 12px 12px 12px;
}

.overview img {
  width: 500px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  max-width: 370px;
  width: 100%;
}

.card-media img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 16vw;
  width: 100%;
}

.company {
  align-items: center;
  background-color: #f9da73;
  border-radius: 50%;
  bottom: -447px;
  display: flex;
  height: 100px;
  justify-content: center;
  position: absolute;
  right: 247px;
  width: 100px;
}

.company img {
  max-width: 75%;
}

.card-body {
  padding: 25px;
}

.card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.results {
  align-items: center;
  color: #828282;
  display: flex;
}

.results img {
  display: inline-block;
  height: 26px;
  margin-right: 20px;
  width: 26px;
}

.card-footer {
  background-color: unset;
  border-top: unset;
  margin-bottom: 20px;
  padding: 25px;
}

.card-footer button {
  background-color: #025157;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
  padding: 12px 20px;
}

.how-works {
  background-color: #fffbf7;
  display: block;
  padding: 5% 10%;
  text-align: center;
}

.how-works h2 {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 8px;
}

.how-works .description {
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 60%;
  text-align: center;
}

.how-works .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-works button {
  background-color: #025157;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: auto;
  padding: 12px 20px;
}

.how-works .steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

.how-works .steps .card-step {
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.card-step-image {
  height: 350px;
  position: relative;
}

.card-step-bg {
  border-style: none;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.card-step-icon {
  left: 25px;
  position: absolute;
  top: 25px;
  width: 21px;
}

.card-step-body {
  padding: 25px;
}

.card-step-body h3 {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 8px;
  text-align: center;
}

.card-step-body p {
  color: #46484c;
  font-size: 15px;
  font-weight: 400;
  height: 85px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.card-step-body a {
  color: #67b54b;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

.card-reto {
  margin: 20px;
  padding: 10px;
}

@media (max-width: 575px) {
  .buttons,
  .actions {
    display: none;
  }

  .content {
    margin-top: 71px;
  }

  h2 {
    font-size: 30px;
  }

  .promo .capterra {
    width: 100%;
  }

  .promo form {
    display: flex;
    flex-direction: column;
  }

  .features {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 330px);
  }

  .success-stories {
    flex-direction: column;
  }

  .success-stories .overview img {
    width: 100%;
  }

  .success-stories .card .card-media img {
    max-height: none;
  }

  .how-works .steps {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
  }

  .how-works .steps article {
    margin: 20px auto;
  }

  .feature-art {
    padding: 10px 10px;
  }

  .feature-art h2 {
    font-size: 20px;
  }

  .feature-content {
    padding-right: 0;
  }

  .feature-picture {
    display: none;
  }
}
